/*
@font-face {
    font-family: coogoose-pro-bold-trial ;
    src: url(../fonts/cocogoose/Cocogoose-Pro-Bold-trial.ttf);
}
.about-us {
    font-family: coogoose-pro-bold-trial;
}
.fpicp {
    font-family:  coogoose-pro-bold-trial ;
}
*/
@font-face{
    font-family: Creato-light;
    src: url(assets/fonts/Creato/creato_display/CreatoDisplay-Light.otf);
}